/*Start General Style*/

body {
	margin: 0;
	padding: 0;
}


/*End General Style*/


/*Start Card Style*/

.card-box ul {
	margin: 20px;
}

.card-box ul li {
	margin-bottom: 10px;
}

.card-box ul .info-title {
	width: 33%;
	display: inline-block;
	font-weight: 600;
}

.toggle {
	cursor: pointer;
	line-height: .9;
}


/*End Card Style*/


/*Start Loading Page*/

.wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #212121;
	z-index: 99999;
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0 auto;
	top: -32px;
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #e0e0e0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100000;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}


/*End Loading Page*/


/*Start Footer*/

footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 40px;
	left: 33%;
}


/*End Footer*/


/* Fix Mobile Bugs */

@media (max-width: 600px) {
	.card-box ul .info-title {
		width: 40%;
	}
	.card-box ul li {
		font-size: 10px;
	}
	footer {
		left: 35% !important;
	}
}

@media (max-width: 992px) {
	.card-box ul li {
		font-size: 12px;
	}
	footer {
		left: 22%;
	}
}


/* Fix Mobile Bugs */